@tailwind base;
@tailwind components;
@tailwind utilities;

.star::after {
    content: "\2605";
    color: #0168D6;
    white-space: pre;
    top: -0.5rem;
    right: -0.25rem;
    position: relative;
    font-size: 0.5rem;
}